{% extends 'base.html.twig' %}

{% block title %}Jobiz{% endblock %}

{% block body %}
<section class="text-slate-700 bg-white body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">Find Your Dream Job Today!</h1>
        <p class="mb-8 leading-relaxed text-slate-700">
          Explore thousands of opportunities from top employers. Upload your resume, apply with one click, and get matched with jobs that fit your skills. Start your career journey now!
        </p>        
        <div class="flex">
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="{{path('app_about')}}">View more</a></button>
        </div>
      </div>
      <div class="lg:w-1/2 w-full flex justify-center">
        <img class="rounded-lg" src="{{ asset('img/logo-jobiz.png') }}" alt="joby">
      </div>
    </div>
  </div>
</section>

      {#
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" src="{{ asset('img/logo-jobiz.png') }}" alt="AllGames" />
      </div>
        #}
    </div>
  </section>
  
  <section class="text-slate-700 bg-white body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
            {% for job in jobs %}
                {% include "job/_job_item.html.twig" with {'job':job} %}
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex justify-center bg-white">
      <a href="{{path('app_job_list')}}" class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg"
        >View More</a>
    </div>
  </section>
{% endblock %}